.ipynb_checkpoints
_build
build
__pycache__
tmp*.ipynb
memo.md
deepseek_api.ipynb
scipybook/julia.c
scipybook/julia.dll
Fusion
normal.c
normal.h
normal.dll
normal*.pyd
normal_math.c
fusion.dll
iir_filter.c
iir.h
iir.c
iir*.pyd
Release
_fusion.c
_fusion*.pyd
fast_pdist.c
fast_pdist*.pyd
fast_pdist.pyx
setup_fast_pdist.py
peaks.c
peaks.dll
multisearch*.pyd
vector.c
vector*.pyd
test.png
todo
sin_wave.mp4
autowrap
sincos.html
sincos_freq.html
bokeh_serve_demo.py
tools.ipynb