python=3.13
jupyterlab=4.3.6
polars
pandas
numpy
scipy
sympy
matplotlib
opencv
holoviews
panel
cython
numba
jupyter_bokeh
plotly
quaternion
graphviz
jupyter-book
nodejs
pyarrow
pyvista
trame
trame-vtk
trame-vuetify
ipywidgets
imageio
ipympl